@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Font Utility Classes */
.font-baloo {
  font-family: var(--font-baloo2);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-lato {
  font-family: var(--font-lato);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato); /* Default font */
}

.industry-swiper{
  overflow: visible !important;
}

.industry-swiper .swiper-wrapper{
  align-items: stretch;
}

.industry-swiper .swiper-slide{
  height:auto;
}

@media (min-width:1024px){

  .industry-swiper{
      width:100vw;
      margin-left:calc(50% - 50vw);
      overflow:visible;
  }

}

.reviewSwiper .swiper-pagination{
    margin-top:40px;
    position:relative;
}

.reviewSwiper .swiper-pagination-bullet{
    width:10px;
    height:10px;
    background:#5b5b5b;
    opacity:1;
}

.reviewSwiper .swiper-pagination-bullet-active{
    background:#CB6801;
}